.masonry-item {
  width: 350px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
#search {
  margin-top: 3rem;
  margin-left: 15rem;
}
#content {
  margin-top: 6rem;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #1f4e61f6;
  color: white;
  font-size: 17px;
  border: 1px solid #1f4e61f6;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #89bce477;
  border:1px solid #89bce477;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

