 <div id="search">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="ng-autocomplete">
      <ng-autocomplete placeholder="Uygulama seçiniz.."
        [data]="reposList"
        [searchKeyword]="'name'"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
      </ng-autocomplete>
      
      <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
      </ng-template>
      
      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
      </div>
  </div>
  <div id="content">
  <ngx-masonry> 
    <div ngxMasonryItem class="masonry-item" *ngFor="let project of projects$ | async">
      <app-project-item [project]="project"></app-project-item>
   </div>
  </ngx-masonry>
</div>



